# Taller 1: Numpy

In [71]:
import pandas as pd
import numpy as np

st = 100
notas = 5
dfs = []

for i in ["Calculo", "Analisis Textual", "Programacion", "Fisica"]:
    ids = np.arange(1, st + 1)[:, np.newaxis]
    grades = np.random.ranf((st, notas, )) * 5
    df = pd.DataFrame(np.hstack((ids, grades)), columns=["Estudiante"] + [f"Nota {j}" for j in range(1, notas + 1)]).round(2)
    df.to_csv(f"{i}.csv", index=None)

{'Calculo':     Estudiante  Nota 1  Nota 2  Nota 3  Nota 4  Nota 5
 0          1.0    0.10    1.85    4.58    3.16    4.33
 1          2.0    1.88    2.59    0.96    4.75    0.86
 2          3.0    1.18    0.50    0.51    1.69    2.36
 3          4.0    2.63    2.21    1.88    4.89    3.49
 4          5.0    1.62    0.25    4.53    2.00    4.09
 ..         ...     ...     ...     ...     ...     ...
 95        96.0    1.87    1.77    0.81    4.35    0.65
 96        97.0    0.14    1.52    1.96    1.85    4.75
 97        98.0    2.19    3.01    3.63    0.47    4.81
 98        99.0    1.06    0.21    4.76    1.00    4.39
 99       100.0    2.84    4.72    2.65    4.67    2.58

 [100 rows x 6 columns],
 'Analisis Textual':     Estudiante  Nota 1  Nota 2  Nota 3  Nota 4  Nota 5
 0          1.0    0.69    2.47    4.93    0.39    0.59
 1          2.0    4.33    1.57    1.77    2.70    4.96
 2          3.0    1.70    0.92    1.78    4.80    1.80
 3          4.0    2.70    3.56    0.37    3.95    2.37
 4          5.0    3.46    4.85    1.47    2.09    4.07
 ..         ...     ...     ...     ...     ...     ...
 95        96.0    1.84    3.38    1.03    4.16    4.07
 96        97.0    1.71    1.75    4.81    4.21    1.14
 97        98.0    0.53    4.76    1.92    3.12    3.73
 98        99.0    3.70    4.89    4.07    0.42    3.07
 99       100.0    0.55    1.88    0.21    1.66    4.72

 [100 rows x 6 columns],
 'Programacion':     Estudiante  Nota 1  Nota 2  Nota 3  Nota 4  Nota 5
 0          1.0    2.27    4.00    2.29    3.50    2.92
 1          2.0    2.19    0.64    0.60    3.95    3.63
 2          3.0    0.00    4.61    4.26    3.73    3.90
 3          4.0    3.28    0.54    2.89    0.82    0.85
 4          5.0    4.01    4.72    3.20    1.11    4.32
 ..         ...     ...     ...     ...     ...     ...
 95        96.0    3.07    3.36    3.63    1.54    1.47
 96        97.0    0.97    2.50    3.19    3.70    3.06
 97        98.0    4.60    4.00    0.52    2.17    1.46
 98        99.0    3.85    2.39    0.50    0.84    1.15
 99       100.0    0.37    0.72    2.30    0.10    3.88

 [100 rows x 6 columns],
 'Fisica':     Estudiante  Nota 1  Nota 2  Nota 3  Nota 4  Nota 5
 0          1.0    0.87    4.66    2.28    2.61    1.06
 1          2.0    2.32    0.75    0.31    1.64    2.79
 2          3.0    1.35    2.05    2.90    2.64    1.78
 3          4.0    1.76    0.43    3.27    4.42    2.84
 4          5.0    4.72    0.45    0.81    2.80    1.72
 ..         ...     ...     ...     ...     ...     ...
 95        96.0    1.61    2.53    1.24    1.91    4.75
 96        97.0    4.16    4.55    4.94    1.05    0.57
 97        98.0    0.46    3.10    3.86    3.48    4.51
 98        99.0    4.20    3.63    1.86    3.63    2.33
 99       100.0    3.57    4.91    2.97    4.92    4.75

 [100 rows x 6 columns]}

In [93]:
display(np.random.randint(0, 100, (10, 10)).shape)
df = pd.DataFrame(np.random.randint(0, 100, (10, 10)), columns=["Bananos", "Peras", "Mazanas", "Aguacates", "Naranjas", "Mangos", "Sandias", "Fresas", "Uvas", "Melocotones"])

(10, 10)

'|    |   Mazanas |   Aguacates |   Naranjas |   Mangos |   Sandias |   Fresas |\n|---:|----------:|------------:|-----------:|---------:|----------:|---------:|\n|  3 |        40 |          90 |         72 |       74 |        67 |       72 |\n|  4 |        23 |          12 |         94 |       60 |        43 |       86 |\n|  5 |        24 |          52 |         38 |       12 |        97 |       24 |\n|  6 |        70 |          91 |         88 |       19 |        89 |       20 |\n|  7 |        48 |          22 |         72 |       76 |        92 |       85 |\n|  8 |        14 |          48 |         84 |       84 |        63 |       24 |\n|  9 |        97 |          13 |         64 |       84 |        32 |       76 |'

In [96]:
df.to_markdown()

'|    |   Bananos |   Peras |   Mazanas |   Aguacates |   Naranjas |   Mangos |   Sandias |   Fresas |   Uvas |   Melocotones |\n|---:|----------:|--------:|----------:|------------:|-----------:|---------:|----------:|---------:|-------:|--------------:|\n|  0 |         5 |      81 |        98 |          13 |         88 |       33 |        25 |       15 |     91 |            93 |\n|  1 |        83 |      57 |        70 |          89 |         53 |       18 |        44 |       74 |     21 |            58 |\n|  2 |        52 |      99 |        88 |          80 |         95 |       16 |        98 |       45 |     46 |            39 |\n|  3 |        63 |      56 |        40 |          90 |         72 |       74 |        67 |       72 |     60 |            59 |\n|  4 |        36 |      19 |        23 |          12 |         94 |       60 |        43 |       86 |     43 |            59 |\n|  5 |        37 |      42 |        24 |          52 |         38 |       12 |        97 |       24 |      6 |            68 |\n|  6 |        39 |       8 |        70 |          91 |         88 |       19 |        89 |       20 |     64 |            64 |\n|  7 |        39 |      96 |        48 |          22 |         72 |       76 |        92 |       85 |     53 |             6 |\n|  8 |        56 |      37 |        14 |          48 |         84 |       84 |        63 |       24 |     18 |            48 |\n|  9 |        66 |      66 |        97 |          13 |         64 |       84 |        32 |       76 |     64 |            68 |'

In [95]:
df.iloc[3:, 2:8].to_markdown()

'|    |   Mazanas |   Aguacates |   Naranjas |   Mangos |   Sandias |   Fresas |\n|---:|----------:|------------:|-----------:|---------:|----------:|---------:|\n|  3 |        40 |          90 |         72 |       74 |        67 |       72 |\n|  4 |        23 |          12 |         94 |       60 |        43 |       86 |\n|  5 |        24 |          52 |         38 |       12 |        97 |       24 |\n|  6 |        70 |          91 |         88 |       19 |        89 |       20 |\n|  7 |        48 |          22 |         72 |       76 |        92 |       85 |\n|  8 |        14 |          48 |         84 |       84 |        63 |       24 |\n|  9 |        97 |          13 |         64 |       84 |        32 |       76 |'

In [116]:
df["Papayas"] = np.zeros((10,), dtype=int)

In [118]:
df.to_markdown()

'|    |   Bananos |   Peras |   Mazanas |   Aguacates |   Naranjas |   Mangos |   Sandias |   Fresas |   Uvas |   Melocotones |   Papayas |\n|---:|----------:|--------:|----------:|------------:|-----------:|---------:|----------:|---------:|-------:|--------------:|----------:|\n|  0 |         5 |      81 |        98 |          13 |         88 |       33 |        25 |       15 |     91 |            93 |         0 |\n|  1 |        83 |      57 |        70 |          89 |         53 |       18 |        44 |       74 |     21 |            58 |         0 |\n|  2 |        52 |      99 |        88 |          80 |         95 |       16 |        98 |       45 |     46 |            39 |         0 |\n|  3 |        63 |      56 |        40 |          90 |         72 |       74 |        67 |       72 |     60 |            59 |         0 |\n|  4 |        36 |      19 |        23 |          12 |         94 |       60 |        43 |       86 |     43 |            59 |         0 |\n|  5 |        37 |      42 |        24 |          52 |         38 |       12 |        97 |       24 |      6 |            68 |         0 |\n|  6 |        39 |       8 |        70 |          91 |         88 |       19 |        89 |       20 |     64 |            64 |         0 |\n|  7 |        39 |      96 |        48 |          22 |         72 |       76 |        92 |       85 |     53 |             6 |         0 |\n|  8 |        56 |      37 |        14 |          48 |         84 |       84 |        63 |       24 |     18 |            48 |         0 |\n|  9 |        66 |      66 |        97 |          13 |         64 |       84 |        32 |       76 |     64 |            68 |         0 |'

In [128]:
df.append(pd.Series(0, index=df.columns), ignore_index=True)
df

,Bananos,Peras,Mazanas,Aguacates,Naranjas,Mangos,Sandias,Fresas,Uvas,Melocotones,Papayas
0,5,81,98,13,88,33,25,15,91,93,0
1,83,57,70,89,53,18,44,74,21,58,0
2,52,99,88,80,95,16,98,45,46,39,0
3,63,56,40,90,72,74,67,72,60,59,0
4,36,19,23,12,94,60,43,86,43,59,0
5,37,42,24,52,38,12,97,24,6,68,0
6,39,8,70,91,88,19,89,20,64,64,0
7,39,96,48,22,72,76,92,85,53,6,0
8,56,37,14,48,84,84,63,24,18,48,0
9,66,66,97,13,64,84,32,76,64,68,0